.Rcheck/
*.Rcheck/
.Rproj.user/
.Rhistory
.RData
*.tar.gz
*.zip
!/inst/reproduce/SQUIRE_Section6_encrypted.zip
/scenario1-output/
/scenario1-quick/
/toy-gain-output/
/toy-no-gain-output/
/toy-example-output/
inst/doc/
